
* {
    box-sizing: border-box;
}
.header {
    margin: 0.5rem auto;
    width: 100%;
    max-width: 800px;
    text-align: center;
    font-size: 1.5rem;
    
}
h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
#container {
    position: relative;
    width: 90%;
    max-width: 800px;
    height: 90vw;
    max-height: 800px;
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem;
    
}
#prisegtasDivas {
    margin: 1rem auto;
    width: 36%;
    max-width: 500px;
    height: 12%;
    display: flex;

}


#pirmasSkaicius, #antrasSkaicius, #sudetis {
    height: 100%;
    width: 33.3%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:#943d65;
}

#spausk {
    position: absolute;
    width: 22%;
    height: 6%;
    background-color: blue;
    border-radius: 10px;
    border: none;
    outline: none;
    left: 2.3%;
    top: -6%;
    color: white;
    font-size: 1rem;
}
@media(max-width:740px) {
    #spausk {
        width: 33%;
        height: 9%;
        top: -9%;
    }
}

#mygtukai {
    width: 23%;
    height: 23%;
    background-color: #dc920a;
    border: none;
    border-radius: 10%;
    outline: none;
    font-size: 8vw;
    color: white;
    font-weight: 500;
    text-align: center;
}

@media (min-width: 920px) {
    #mygtukai {
        font-size: 5rem;;
    }
}
#mygtukai:hover {
    background-color: #ff5722;
}